html, body {
  background-color: #eee;
  font-family: 'ABeeZee', sans-serif;
}

footer{
  margin-right: 10px;
  margin-bottom: 20px;
  text-align:right;
}

footer .fa:hover{
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  color: red;
}